div {
  border: 1px solid gray;
}

body {
  font-family: helvetica, sans-serif;
}


/*
==================================
Nav Bar
==================================
*/

.navbar-wrapper {
  text-align: right;
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid black;
}

.title {
  display: inline-block;
  float: left;
  line-height: 70px;
}

.top-right {
  display: inline-block;
  width: 100px;
}

.cart {
  text-align: center;
  line-height: 60px;
}

.navbar-wrapper .image {
  display: inline-block;
  line-height: 65px;
  padding: 0 30px;
}

.image img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

/*
==================================
Header Image
==================================
*/

.header-image {
  text-align: center;
}

.header-wrapper {
  margin-top: 70px;
  width: 100%;
  height: 100%;
}

.header-image img {
  width: 
}

/*
==================================
Header Text
==================================
*/

.header-text h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 100px;
  color: #fff;
}

.header-text-wrapper {
  height: 100px;
  background-color: #333333;
  width: 100%;
}

/*
==================================
Header Subtitle
==================================
*/

.header-subtitle h3 {
  text-align: center;
  font-size: 26px;
  line-height: 50px;
}

.header-subtitle-wrapper {
  height: 50px;
  width: 100%;
}

/*
==================================
Main Content
==================================
*/

.main-content-wrapper {
  width: 100%;
  height: 900px;
}

.top-row {
  width: 60%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-row {
  width: 60%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-row div {
  background-color: #444;
  display: inline-block;
  height: 80%;
  width: 300px;
  text-align: center;
  margin: 0 30px;
}

.top-row div {
  background-color: #444;
  display: inline-block;
  height: 80%;
  width: 300px;
  text-align: center;
  margin: 0 30px;
}

.silent-night img {
  height: 70%;
  width: 70%;
  margin-top: 20px;
}

.top-text {
  color: #fff;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.buy {
  color: #000;
  background-color: #FE9800;
  width: 50%;
  height: 30px;
  margin: 10px auto;
  font-weight: bold;
  padding-top: 10px;
}

/*
==================================
Footer
==================================
*/

.footer-wrapper {
  text-align: center;
  width: 100%;
  background-color: #333333;
}

.contact {
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  color: #FE9800;
}

.phone-icon {
  display: inline-block;
  vertical-align: middle;
}

.phone-icon img {
  height: 25px;
  width: 25px;
  padding-right: 10px;
}

.phone-number {
  display: inline-block;
  line-height: 50px;
  color: #fff;
}

.phone-number .number {
  margin: 0 auto;
}

.phone-wrapper {
  height: 50px;
  width: 100%;
}

.email-wrapper {
  height: 50px;
  width: 100%;
}

.email {
  display: inline-block;
  margin-left: 40px;
}

.email-contact {
  display: inline-block;
  height: 50px;
  color: #fff;
  line-height: 50px;
}

.email-icon img {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  padding-right: 10px;
}





































