div {
  border: 1px solid gray;
}


/*
==================================
Nav Bar
==================================
*/

.navbar-wrapper {
  text-align: right;
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid black;
}

.title {
  display: inline-block;
  float: left;
  line-height: 70px;
}

.top-right {
  display: inline-block;
  width: 100px;
}

.cart {
  text-align: center;
  line-height: 60px;
}

.navbar-wrapper .image {
  display: inline-block;
  line-height: 65px;
  padding: 0 30px;
}

.image img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

/*
==================================
Header Image
==================================
*/

.header-image {
  text-align: center;
}

.header-wrapper {
  margin-top: 70px;
}

.header-image img {

}

.header-text h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}









































