div {
  border: 1px solid gray;
}

/*
==================================
Nav Bar
==================================
*/


.navbar-wrapper {
  text-align: right;
  height: 70px;
  position: fixed;
  width: 100%;
}

.title {
  display: inline-block;
  float: left;
  line-height: 70px;
}

.top-right {
  display: inline-block;
  width: 100px;
}

.cart {
  line-height: 70px;
  text-align: center;
}

.navbar-wrapper .image {
  display: inline-block;
  line-height: 70px;
  padding: 0 30px;
}

.image img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}
